<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

  <div id="footer_wrap">
    <!-- Footer table -->
    <div class="container-fluid">

      <!-- Grid row starts-->
      <div class="row">

        <!-- Grid column (Logo)-->
        <div class="col-md-2 mt-md-0 mt-2 ">
          <img id="logo" src="\assets\images\team_logo.png">
        </div>

        <!-- Grid column (Team name)-->
        <div class="col-md-10 mt-md-0 mt-10 ">
          <div class="container-fluid ">

            <!-- Grid row1 starts-->
            <div id="id">
              <h6><br>COFFEE CRUNCH CODE</h6>
            </div>

            <!-- Grid row2 starts-->
            <div class="row">

              <!-- Grid column (Shota)-->
              <div class="col-md-3 mb-md-0 mb-3">
                <a><b>Dixit Hihoriya</b></a>
                <ul class="list-unstyled">
                  <li>
                    <a>SN:301201312</a>
                  </li>
                  <li>
                    <a>Project Manager</a>
                  </li>
                  <li>
                    <a>Backend Programmer</a>
                  </li>
                </ul>
              </div>

              <!-- Grid column (Freya)-->
              <div class="col-md-3 mb-md-0 mb-3">
                <!-- Links -->
                <a><b>Aryan Patel</b></a>
                <ul class="list-unstyled">

                  <li>
                    <a>SN:301226774</a>
                  </li>
                  <li>
                    <a>Team Lead</a>
                  </li>
                  <li>
                    <a>Angular Developer</a>
                  </li>
                </ul>
              </div>

              <!-- Grid column (Seol)-->
              <div class="col-md-3 mb-md-0 mb-3">

                <a><b>Navya</b></a>
                <ul class="list-unstyled">

                  <li>
                    <a>SN:301133120</a>
                  </li>
                  <li>
                    <a>Front-End Developer</a>
                  </li>
                  <!-- <li>
                    <a>Database Programmer</a>
                  </li> -->
                </ul>
              </div>

              <!-- Grid column (Marianne)-->
              <div class="col-md-3 mb-md-0 mb-3">
                <!-- Links -->

                <a><b>Priyanshi</b></a>
                <ul class="list-unstyled">

                  <li>
                    <a>SN:301222149</a>
                  </li>
                  <li>
                    <a>Database Developer</a>
                  </li>
                  <!-- <li>
                    <a>UI Programmer</a>
                  </li> -->
                </ul>
              </div>
               <!-- Grid column (Marianne)-->
               <div class="col-md-3 mb-md-0 mb-3">
                <!-- Links -->

                <a><b>Shivam</b></a>
                <ul class="list-unstyled">

                  <li>
                    <a>SN:301222349</a>
                  </li>
                  <li>
                    <a>UI developer</a>
                  </li>
                  <li>
                    <a>Documentation </a>
                  </li>
                </ul>
              </div>
               <!-- Grid column (Marianne)-->
               <div class="col-md-3 mb-md-0 mb-3">
                <!-- Links -->

                <a><b>Roshni</b></a>
                <ul class="list-unstyled">

                  <li>
                    <a>SN:301232349</a>
                  </li>
                  <li>
                    <a>UI developer</a>
                  </li>
                  <li>
                    <a>Documentation </a>
                  </li>
                </ul>
              </div>

            </div>
          </div>
        </div>
      </div>
      <!-- Grid row ends-->
    </div>
  </div>
</footer>
